.styledButton {
	background: green;
	color: white;
	font-size: 20;
	padding: 6px 12px;
	border-radius: 6px;
	border: none;
	box-shadow: 3px 2px 3px rgba(108, 108, 108, 0.5);
}

.text-white {
	color: white;
}

.flex {
	display: flex;
}

#section {
	padding: 60px 0;
}
