/* Šrifto integravimas per failus */

/* @font-face {
	font-family: "Barlow";
	src: url(fonts/Barlow-Regular.ttf);
} */

/* Selektorius pasirinkimui kiekvieno HTML elemento */
* {
	box-sizing: border-box;
	font-family: Barlow, sans-serif;
}

body {
	margin: 0;
	font-size: 16px;
}
.container {
	max-width: 1380px;

	/* Pritaiko automatinę paraštę, kuri turinį išcentruoja kai yra didesnis ekranas nei 1200px */
	margin: 0 auto;
}

.bg-light-green {
	/* RedGreenBlue - spalvų kodo formatas */
	background-color: rgb(97, 157, 36);
}

.bg-white {
	background-color: #fff;
}
.bg-body {
	background-color: #f2f2f2;
}
.text-nostyle {
	text-decoration: none;
}

.text-white {
	color: white;
}

.text-accent {
	color: #629d23;
}
.text-sm {
	font-size: 14px;
}

.text-md {
	font-size: 16px;
}

.text-lg {
	font-size: 20px;
}

.text-xl {
	font-size: 24px;
}

.py-1 {
	padding: 10px 0;
}

header .container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.border-bottom {
	border-bottom: 1px solid rgb(231, 230, 230);
}

.left-border-only {
	border-left: 1px solid rgb(231, 230, 230);
}

.long-text {
	display: none !important;
}

@media (min-width: 780px) {
	.long-text {
		display: flex !important;
	}
}

.horizontal-borders-only {
	border-left: 1px solid rgb(231, 230, 230);
	border-right: 1px solid rgb(231, 230, 230);
}

.nav-links {
	display: flex;
	gap: 12px;
	min-height: 45px;
	/* justify-content: ; */
	align-items: center;
}

#header-section-4 .nav-links {
	overflow-x: auto;
}

.full-height {
	height: 100%;
}

.nav-button {
	padding: 15px 0;
	display: flex;
	align-items: center;
}

.nav-button.wider {
	padding: 15px;
}

.text-dark {
	color: #74787c;
}

.text-dark-green {
	color: #2c3c28;
}

.centered-vertically {
	display: flex;
	align-items: center;
}

.pl-2 {
	padding-left: 20px;
}
#section-3 {
	display: flex;
	/* justify-content: space-between; */
	flex-direction: column;
	padding: 20px 0;
	gap: 10px;
}
@media (min-width: 768px) {
	#section-3 {
		flex-direction: row;
		gap: 60px;
	}
}

.stylish-button:hover {
	background-color: #629d23;
	color: white;
}

.stylish-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f3f4f6;
	padding: 13px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;

	cursor: pointer;
}

#section-3 .middle-section {
	display: flex;
	gap: 10px;
	flex-grow: 1;
}

#section-3 .middle-section input {
	width: 100%;
	height: 100%;

	background-color: #f3f4f6;
	border: none;
	border-radius: 5px;
	padding-left: 20px;

	/* border: 2px solid red; */
}
#section-3 .middle-section input:focus {
	outline: 1px solid #629d23;
}

#section-3 .logo {
	max-width: 250px;
}

.input-container {
	display: inline-block;
	position: relative;
	flex-grow: 1;
	display: flex;
	align-items: center;
}
.input-container button {
	position: absolute;

	right: 3px;
	height: 90%;
}
.input-container .input-button {
	background-color: #629d23;
	color: white;
}
.input-container .input-button:hover {
	background-color: rgb(44, 60, 40);
}

#section-3 .last-section {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.white-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px 30px;
	color: #2c3c28;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	flex-grow: 1;
}

.white-btn i {
	margin-right: 10px;
}

/* Ikonėlės stilizavimas per mygtuko state */
/* .white-btn:hover i.fa-heart {
	color: red;
} */

.white-btn:hover {
	background-color: #629d23;
	color: white;
}

.fa-count-container {
	position: relative;
}

.fa-count-container span.count {
	position: absolute;
	top: -12px;
	right: -12px;

	width: 18px;
	height: 18px;
	color: white;
	background-color: #629d23;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	font-size: 10px;
}

#header-section-4 {
	border-bottom: 1px solid #c3c3c3;
	position: sticky;
	top: 0px;
	z-index: 10;
}

#header-section-4 .container {
	display: flex;
	flex-direction: column;
}
@media (min-width: 1140px) {
	#header-section-4 .container {
		flex-direction: row;
		justify-content: space-between;
	}
}
#header-section-4 .container a {
	padding: 24px 22px;
	font-weight: bold;
}
#header-section-4 .container a:hover {
	color: #629d23;
}

#header-section-4 .container .nav-buttons {
	display: flex;
}

#header-section-4 .container .nav-buttons .accented-button {
	background-color: #629d23;
	color: white;
}
#header-section-4 .container .nav-buttons .accented-button .pill {
	background: white;
	color: #629d23;
	padding: 3px 6px;
	margin-left: 6px;
	border-radius: 30px;
}

#section-1 {
	background-color: #f3f4f6;
	padding: 60px 0;
}

#section-1 .cards-list {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	gap: 15px;
	height: 150px;
	overflow-x: auto;
}

#section-1 .cards-list .card {
	background-color: white;
	border: 1px solid rgb(221, 221, 221);
	transition: border 400ms;
	cursor: pointer;
	border-radius: 4px;
	min-width: 150px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#section-1 .cards-list .card:hover {
	border: 1px solid #629d23;
}

#section-1 .cards-list .card img {
	width: 50%;
}

#section-2 {
	padding: 60px 0;
}

#section-2 .featured-cards {
	display: flex;
	justify-content: space-between;
	overflow-x: auto;
	gap: 20px;
}

#section-2 .featured-cards .card h4 {
	font-size: 16px;
	margin-bottom: 8px;
}
#section-2 .featured-cards .card span {
	font-size: 12px;
	color: gray;
}
#section-2 .featured-cards .card {
	padding: 10px 30px;
	background-color: white;
	border: 1px solid rgb(221, 221, 221);
	transition: border 400ms;
	cursor: pointer;
	border-radius: 4px;
	width: 170px;

	flex-grow: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.featured-products {
	display: flex;
	/* flex-wrap: wrap; */

	overflow-x: scroll;
	gap: 15px;
}
.product-card {
	min-width: 230px;
	max-width: 300px;
	background-color: #f5f6f7;
	color: #6e777d;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(230, 230, 230, 0.532);
}

.product-card h4 {
	color: #2c3c28;
	margin: 10px 0;
	cursor: pointer;
}
.product-card h4:hover {
	color: #629d23;
}

.product-card .pack-volume {
	font-size: 14px;
}
.card-bottom {
	display: flex;
	justify-content: space-between;
}

.product-card img.product-image {
	width: 100%;
	/* height: 100%; */
}

.product-card input {
	width: 40%;
}

.product-card .price .discounted-price {
	font-size: 22px;
	color: red;
	font-weight: bold;
	margin-right: 10px;
}

.product-card .price {
	margin-bottom: 15px;
}

.product-card input {
	font-size: 18px;
	padding: 10px;
	border: none;
	border-radius: 6px;
	outline: none;
	/* 5px - šėšėlio pasislinkimas horizontaliai, 2px šėšėlio pasislinkimas vertikaliai, 5px šėšėlio blur bei išsiplėtimas */
	box-shadow: 5px 2px 5px rgb(204, 204, 204);
}
.product-card .add-to-cart {
	border: 1px solid #629d23;
	color: #629d23;
	padding: 3px 10px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.product-card .add-to-cart:hover {
	color: white;
	background-color: #629d23;
}

.product-card .image-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.product-card .image-container img.product-image {
	height: 100%;
	transition: scale 500ms ease-out;
}
.product-card .image-container .menu-bar {
	width: 60%;
	height: 100px;
	color: white;
	background-color: #629d23;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%) rotateX(90deg);
	transition: transform 200ms;

	display: flex;
	gap: 15px;
	justify-content: center;
	padding: 10px 10px;
}

.product-card .image-container .menu-bar .icon-spot {
	width: 28px;
	height: 28px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px dashed white;
	cursor: pointer;
	transition: background-color 500ms;
}

.product-card .image-container .menu-bar .icon-spot:hover {
	background-color: white;
}

.product-card .image-container .menu-bar .icon-spot:hover i {
	color: #629d23;
	animation: icon-resize 500ms;
}

.product-card .image-container .menu-bar .icon-spot i {
	font-size: 14px;
	transition: color 500ms;
}

.product-card:hover .image-container .menu-bar {
	transform: translate(-50%, -50%) rotateX(0deg);
}
.product-card:hover .image-container img.product-image {
	scale: 120%;
}

@keyframes icon-resize {
	0% {
		scale: 0%;
	}
	100% {
		scale: 100%;
	}
}

#section-4 {
	padding-bottom: 60px;
}

#section-4 .products-with-discounts {
	border: 1px solid orangered;
	background-color: rgba(255, 165, 0, 0.1);
	min-height: 500px;
	border-radius: 8px;
	padding: 30px;

	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
}

#section-4 .products-with-discounts .card.first-promo {
	background-image: url(https://html.themewant.com/ekomart/assets/images/discount-product/01.jpg);
}

#section-4 .products-with-discounts .card.second-promo {
	background-image: url(https://html.themewant.com/ekomart/assets/images/discount-product/02.jpg);
}

@media (min-width: 500px) {
	#section-4 .products-with-discounts {
		grid-template-columns: 1fr 1fr;
	}
	#section-4 .products-with-discounts .card.first-promo {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	#section-4 .products-with-discounts .card.second-promo {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
}

@media (min-width: 1000px) {
	#section-4 .products-with-discounts {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	#section-4 .products-with-discounts .card.first-promo {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	#section-4 .products-with-discounts .card.second-promo {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
}

#section-4 .products-with-discounts .card {
	/* background-color: #629d23; */
	border-radius: 6px;
	overflow: hidden;
}

#section-4 .products-with-discounts .card.promo {
	background-size: cover;
	background-position: bottom 30% left 70%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: white;
	padding: 30px;
}

#section-4 .products-with-discounts .card.promo h4 {
	margin: 0;
	font-size: 22px;
}

.product-card.horizontal {
	max-width: 100%;
	display: flex;
	gap: 20px;
	background-color: white;
}
.product-card.horizontal .image-container {
	border: 1px solid rgb(230, 230, 230);
}
.product-card.horizontal .image-container img {
	/* Nustato, kad nuotrauka nekeistų savo proporcijų */
	object-fit: contain;
}
.product-card.horizontal button {
	background-color: white;
}

#section-5 {
	padding: 60px 30px;
	background-color: #f3f4f6;
}

#section-5 .row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pill-button {
	padding: 7px 20px;
	border-radius: 15px;
	color: #2c3c28;
	background-color: white;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.pill-button.active {
	background-color: #629d23;
	color: white;
}

.pill-button:hover {
	background-color: #629d23;
	color: white;
}

#section-5 .items-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	/* gap: 15px; */
	row-gap: 40px;
}

.items-grid .product-card {
	justify-self: center;
}
/* @media (min-width: 700px) {
	#section-5 .items-grid {
		grid-template-columns: 1fr 1fr;
	}
} */
