body {
	margin: 0;
	font-family: Barlow, sans-serif;
	font-size: 16px;
}
.container {
	max-width: 1380px;

	/* Pritaiko automatinę paraštę, kuri turinį išcentruoja kai yra didesnis ekranas nei 1200px */
	margin: 0 auto;
}

.bg-light-green {
	/* RedGreenBlue - spalvų kodo formatas */
	background-color: rgb(97, 157, 36);
}

.bg-white {
	background-color: #fff;
}
.bg-body {
	background-color: #f2f2f2;
}
.text-nostyle {
	text-decoration: none;
}

.text-white {
	color: white;
}

.text-accent {
	color: #629d23;
}
.text-sm {
	font-size: 14px;
}

.text-md {
	font-size: 16px;
}

.text-lg {
	font-size: 20px;
}

.text-xl {
	font-size: 24px;
}

.py-1 {
	padding: 10px 0;
}

header .container {
	display: flex;
	justify-content: space-between;
}

.border-bottom {
	border-bottom: 1px solid rgb(231, 230, 230);
}

.left-border-only {
	border-left: 1px solid rgb(231, 230, 230);
}

.horizontal-borders-only {
	border-left: 1px solid rgb(231, 230, 230);
	border-right: 1px solid rgb(231, 230, 230);
}

.nav-links {
	display: flex;
	gap: 12px;
	min-height: 45px;
	/* justify-content: ; */
	align-items: center;
}

.full-height {
	height: 100%;
}

.nav-button {
	padding: 15px 0;
}

.nav-button.wider {
	padding: 15px;
}

.text-dark {
	color: #74787c;
}

.text-dark-green {
	color: #2c3c28;
}

.centered-vertically {
	display: flex;
	align-items: center;
}

.pl-2 {
	padding-left: 20px;
}

#section-3 {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	gap: 60px;
}

.stylish-button:hover {
	background-color: #629d23;
	color: white;
}

.stylish-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f3f4f6;
	padding: 13px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;

	cursor: pointer;
}

#section-3 .middle-section {
	display: flex;
	gap: 10px;
}

#section-3 .middle-section input {
	width: 450px;
	height: 100%;

	background-color: #f3f4f6;
	border: none;
	border-radius: 5px;
	padding-left: 20px;

	/* border: 2px solid red; */
}
#section-3 .middle-section input:focus {
	outline: 1px solid #629d23;
}

.input-container {
	display: inline-block;
	position: relative;
	display: flex;
	align-items: center;
}
.input-container button {
	position: absolute;

	right: 3px;
	height: 90%;
}
.input-container .input-button {
	background-color: #629d23;
	color: white;
}
.input-container .input-button:hover {
	background-color: rgb(44, 60, 40);
}

#section-3 .last-section {
	display: flex;
	gap: 10px;
}
.white-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px 30px;
	color: #2c3c28;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}

.white-btn i {
	margin-right: 10px;
}

/* Ikonėlės stilizavimas per mygtuko state */
/* .white-btn:hover i.fa-heart {
	color: red;
} */

.white-btn:hover {
	background-color: #629d23;
	color: white;
}

.fa-count-container {
	position: relative;
}

.fa-count-container span.count {
	position: absolute;
	top: -12px;
	right: -12px;

	width: 18px;
	height: 18px;
	color: white;
	background-color: #629d23;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	font-size: 10px;
}

#header-section-4 {
	border-bottom: 1px solid #c3c3c3;
	position: sticky;
	top: 0px;
	z-index: 10;
}

#header-section-4 .container {
	display: flex;
	justify-content: space-between;
}

#header-section-4 .container a {
	padding: 24px 22px;
	font-weight: bold;
}
#header-section-4 .container a:hover {
	color: #629d23;
}

#header-section-4 .container .nav-buttons {
	display: flex;
}

#header-section-4 .container .nav-buttons .accented-button {
	background-color: #629d23;
	color: white;
}
#header-section-4 .container .nav-buttons .accented-button .pill {
	background: white;
	color: #629d23;
	padding: 3px 6px;
	margin-left: 6px;
	border-radius: 30px;
}

#section-1 {
	background-color: #f3f4f6;
	padding: 60px 0;
}

#section-1 .cards-list {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	gap: 15px;
	height: 150px;
}

#section-1 .cards-list .card {
	background-color: white;
	border: 1px solid rgb(221, 221, 221);
	transition: border 400ms;
	cursor: pointer;
	border-radius: 4px;
	width: 170px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#section-1 .cards-list .card:hover {
	border: 1px solid #629d23;
}

#section-1 .cards-list .card img {
	width: 50%;
}

#section-2 {
	padding: 60px 0;
}

#section-2 .featured-cards {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

#section-2 .featured-cards .card h4 {
	font-size: 16px;
	margin-bottom: 8px;
}
#section-2 .featured-cards .card span {
	font-size: 12px;
	color: gray;
}
#section-2 .featured-cards .card {
	padding: 10px 30px;
	background-color: white;
	border: 1px solid rgb(221, 221, 221);
	transition: border 400ms;
	cursor: pointer;
	border-radius: 4px;
	width: 170px;

	flex-grow: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.featured-products {
	display: flex;
	gap: 15px;
}
.product-card {
	background-color: #f5f6f7;
	padding: 10px;
	border-radius: 5px;
	flex-shrink: 1;
}

.card-bottom {
	display: flex;
	justify-content: space-between;
}

.product-card img.product-image {
	width: 100%;
}

.product-card input {
	width: 40%;
}
